body {
	background-color: #294868;
}

li {
	list-style-type: none;
	border: solid grey 1px;
	border-radius: 5px;
	height: 200px;
	width: 150px;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 5px;
	background-color: white;
}


