doctype html
html
	head 
		title list
		link(rel='stylesheet' href='style/prikboard.css')
	body
		h2 All messages written 
		
		ul
			each val in pipo
				li
					h4= val.title 
					p= val.body




	